.cardRepoWrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

.countSection {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  font-size: large;
  font-weight: 500;
  gap: 8px;
}
.sectionsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.firstSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.secondSection {
  display: flex;
  gap: 16px;
}
span {
  font-size: 16px;
  font-weight: 700;
}
