.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}
.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
