.searchInput {
  display: flex;
  align-items: center;
  gap: 4px;
}

.searchInput > button {
  border: 1px solid #aa0082;
  padding: 12px;
  border-radius: 6px;
  height: 60px;
  width: 80px;
  color: #aa0082;
}
.searchInput > button:hover {
  background-color: #fff5ff;
}
