.searchInput {
  display: flex;
  align-items: center;
  gap: 4px;
}

.searchInput > button {
  border: 1px solid var(--primary-color);
  padding: 12px;
  border-radius: 6px;
  height: 60px;
  color: var(--primary-color);
}
.searchInput > button:hover {
  background-color: var(--background-color);
}
