.navbarWrapper {
  position: static;
  background-color: #efefdc;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.navLink:hover {
  color: #aa0082;
}
