.pagesWrapper {
  width: 100%;
  height: 100vh;
  padding: 16px;
}
.emptyState {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
